@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@500&family=Satisfy&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;

  letter-spacing: 0.8px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #0d0f11;
}

#allMaterialbox {
  width: 726px;
  height: 470px;

  display: flex;
  flex-direction: column;
  gap: 37px;
}

#searchBarDiv {
  width: inherit;
  display: flex;
  justify-content: center;
}

#searchElementsBox {
  width: 260px;
  display: flex;
  gap: 10px;

  #searchInputElement {
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 8px;
    padding: 8px;
  }

  #searchInputElement:focus{

    border: none;
    outline: none;


  }
}

#findSearchButton {
  height: 45px;
  width: 43px;
  background-color: #4470e2;
  border-radius: 8px;
  border: none;
  transition: all 200ms ease-in-out;
}

#findSearchButton:hover{

  background-color: #7B57e0;
}

#weatherBoxdiv {
  width: inherit;
  height: 500px;
  display: flex;
}

#weatherInformation {
  width: 493px;
  height: 300px;
  align-self: center;
  margin-top: -38px;
  background-color: #222831;
  border-radius: 0px 12px 12px 0px;
  display: flex;
  flex-direction: column;
  gap:20px;
}
#weatherPicture {
  width: 250px;
  height: 364px;
}
#overlayDiv {
  border-radius: 12px;

  width: 250px;
  height: 355px;
  position: relative;
  top: -359px;
  background-color: black;
  opacity: 0.7;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  border-radius: 11px;

  #dateLocation {
    padding: 7px;
    text-align: left;

    display: flex;
    width: inherit;
    flex-direction: column;
    gap: 3px;

    #Day {
      font-size: 30px;
    }

    #Date {
      margin-bottom: 5px;
      font-size: 14px;
      padding: 0px 0px 0px 3px;
    }

    #locationDiv {
      width: inherit;
      display: flex;
      gap: 4px;

      p {
        justify-self: center;
        align-self: center;
        font-size: 12px;
      }
    }
  }

  #temeperatureInfoDiv {
    width: inherit;
    padding: 8px;

    #currentTemperature {
      font-size: 36px;
    }

    #typeOfweather {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

#skyImg {
  width: inherit;
  height: 355px;
  border-radius: 12px;
}

#extraDetailsDiv{
  width: inherit;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  div{
    width: inherit;
    color: white;

  }
}

#PrecipitationDiv, #HumidityDiv, #windDiv{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  gap: 4px;
  padding: 0px 8px;


}
#PrecipitationDiv>p:last-child, #HumidityDiv>p:last-child, #windDiv>p:last-child{

  grid-column: 8/-2;
  text-align: end;


}
#PrecipitationDiv>p:first-child, #HumidityDiv>p:first-child, #windDiv>p:first-child{

  font-weight: bold;
  grid-column: 1;
  text-align: start

}

#dailyWeather{

  width: inherit;
  height: 100px;

  #WeatherUpdateHolder{
    display: grid;
    width: inherit;
    height: inherit;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(1,111px);
    color: white;
    padding:0px 0px 0px 64px;
    gap: 25px;
   div{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
 
   }
   div:not(:first-child){
    background-color:#2c2c2c;
   }


  }

}

#TodayWeather{
background-color: #7B57e0;
  


}

#toogleWeatherdiv{

  display: flex;
  justify-content: center;
  height: 40px;
button{

  width: 200px;
  background-color: #4470e2;
  color: white;
  border: none;
  border-radius: 6px;
  transition: all 200ms ease-in-out;

}

button:hover{

background-color: #7B57e0 ;


}


}



#Rain{
 
 fill: white;
}

dialog{


  font-size: 22px;
background-color: #f53b30;  
color: white;
padding: 10px;
border: none;
outline:none;
width: 139px;
border-radius: 8px;
position: absolute;
top: 30%;
left: 43%;
height: 100px;
overflow: hidden;
h4{

position: relative;
top: 30%;
left: 2%;

}

button{
  position: relative;
top: 28%;
left: 4%;
width: 50px;
border: none;
background-color: beige;
color: #0d0f11;

}




}

dialog::backdrop{

  backdrop-filter: blur(5px);
}